*.py[co]
*.sw[po]
.coverage
*.orig
.noseids
*~
#*
.#*
*.egg-info
*.sqlite3
notes.org
.DS_Store
.sass-cache
pip-log.txt
.cache/
.vagrant/
dist/
node_modules
node_modules/
npm-debug.log
tmp/
tags
secrets/
*.tfstate.backup
media/*.jpg
.DS_Store
.idea
*.sublime-*
assets.json
build/*
!.gitinclude
*.mov
*.m4v
*.m4a
*.aiff
*.mp3
*.mp4
*.flv
*.wav
*.aac
*.psd
*.ogg
*.mp3